{% extends 'base.html' %}

{% block center_body %}

	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>My Account</h3>
{#			<ul>#}
{#				<li><a href="{% url "user:info" %}">· Personal Info</a></li>#}
{#				<li><a href="{% url "user:order" 1 %}" class="active">· My Orders</a></li>#}
{#				<li><a href="{% url "user:address" %}">· My Addresses</a></li>#}
{#			</ul>#}
		</div>
		<div class="right_content clearfix">
				<h3 class="common_title2">All orders</h3>
                {% for order in page %}
				<ul class="order_list_th w978 clearfix">
					<li class="col01">{{ order.date|date }}</li>
					<li class="col02">Order ID：{{ order.id }}</li>
					<li class="col02 stress">Paid</li>
				</ul>

				<table class="order_list_table w980">
					<tbody>
						<tr>
							<td width="55%">
                                {% for order_detail in order.orderdetail_set.all %}
								<ul class="order_goods_list clearfix">					
									<li class="col01"><img src="/static/{{ order_detail.product.image }}"></li>
                                    <li class="col02">{{ order_detail.product.name }}<em class="good_price">${{ order_detail.product.price }}</em>/<em>{{ order_detail.product.unit }}</em></li>
									<li class="col03">${{ order_detail.count }}</li>
									<li class="col04">$11.80</li>
								</ul>
                                {% endfor %}
							</td>
							<td width="15%">$ {{ order.total }}</td>
							<td width="15%">Paid</td>
							<td width="15%"><a href="#" class="oper_btn">Check Delivery Status</a></td>
						</tr>
					</tbody>
				</table>
			    {% endfor %}


				<div class="pagenation">
                    {% if page.has_previous %}
					    <a href="{% url "user:order" page.previous_page_number %}">Prev</a>
                    {% endif %}

                    {% for index in paginator.page_range %}
                        {% if index == page.number %}
                            <a href="{% url "user:order" index %}" class="active">{{ index }}</a>
                        {% else %}
                            <a href="{% url "user:order" index %}">{{ index }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page.has_next %}
					    <a href="{% url "user:order" page.next_page_number %}">Next></a>
                    {% endif %}
				</div>
		</div>
	</div>

    <script type="text/javascript">
    $(function () {
        $('.col04').each(function () {
            count = $(this).prev().text();
            price = $(this).prev().prev().find('.good_price').text();
            $(this).html('$ '+parseFloat(count,2)*parseFloat(price,2));
            }

        )
        }
    )

    </script>

{% endblock center_body %}
