{% extends 'base.html' %}
{% block body %}
    <!--== Start Page Breadcrumb ==-->
<div class="page-breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-breadcrumb">
                    <ul class="nav">
                        <li><a href="{% url 'product:index' %}">Home</a></li>
                        <li><a href="#">My Account</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Breadcrumb ==-->
<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- My Account Page Start -->
                <div class="myaccount-page-wrapper">
                    <!-- My Account Tab Menu Start -->
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="myaccount-tab-menu nav" role="tablist">
                                <a href="#dashboad" class="active" data-toggle="tab"><i class="fa fa-dashboard"></i>
                                    My Account</a>

                                <a href="#orders" data-toggle="tab"><i class="fa fa-cart-arrow-down"></i> Orders</a>

                                <a href="#address-edit" data-toggle="tab"><i class="fa fa-map-marker"></i> address</a>

                                <a href="#account-info" data-toggle="tab"><i class="fa fa-user"></i> Account Details</a>
                                <a href="{% url 'account_change_password' %}"><i class="fa fa-sign-out"></i> Change Password</a>
                                <a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i> Logout</a>


                            </div>
                        </div>
                        <!-- My Account Tab Menu End -->
                        <!-- My Account Tab Content Start -->
                        <div class="col-lg-9 mt-15 mt-lg-0">
                            <div class="tab-content" id="myaccountContent">
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade show active" id="dashboad" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Dashboard</h3>

                                        <div class="welcome">
                                            <p>Hello, <strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
                                        </div>

                                        <p class="mb-0">From your account dashboard. you can easily check & view your recent orders, edit your profile and also manage your addresses.</p>
                                        <br>
                                        <p class="mb-0">We recommend you to provide correct personal information</p>
                                        <br>
                                        <p class="mb-0">Important: Please make sure <strong>your address</strong> is correct.</p>

                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="orders" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Order History</h3>
                                        <div class="myaccount-table table-responsive text-center">
                                                <tbody>
                                                    {% for order in orders_list %}
                                                        <table class="table table-bordered">
                                                        <thead class="thead-light">
                                                        <tr>
                                                            <th>Order ID</th>
                                                            <th>Date</th>
                                                            <th>Total</th>
                                                            <th>Status</th>
                                                        </tr>
                                                        </thead>
                                                        <tr>
                                                            <td>{{ order.id }}</td>
                                                            <td>{{ order.date|date }}</td>
                                                            <td>${{ order.total_price }}</td>
                                                            <td>{% ifequal order.has_payed True %}Paid{% else %}Processing{% endifequal %}</td>
                                                        </tr>
                                                        <table class="table table-bordered">
                                                        <tr>
                                                            <th>Item Purchased</th>
                                                            <th>Product</th>
                                                            <th>Price per Product</th>
                                                            <th>Qty</th>
                                                        </tr>
                                                        {% for order_detail in order.orderdetail_set.all %}
                                                                <tr>
                                                                    <td><img src="/static/{{ order_detail.product.image }}/" width=40 height=40></td>
                                                                    <td>{{ order_detail.product.name }}</td>
                                                                    <td>${{ order_detail.product.price }}</td>
                                                                    <td>{{ order_detail.count }}</td>
                                                                </tr>
                                                        {% endfor %}
                                                        </table>
                                                            </tbody>
                                                        </table>
                                                        <br>
                                                        <br>
                                                    {% endfor %}
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="address-edit" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Current Address</h3>
                                        <div class="account-address-form">
                                            <form method="post" action="" id="address-form" enctype="multipart/form-data">
                                                {% csrf_token %}

                                                <div class="single-input-item">
                                                    <label for="email" class="required">{{ pform.address.label }}</label>
                                                    {{ pform.address }}
                                                </div>

                                                <div class="single-input-item">
                                                    <label for="email" class="required">{{ pform.zip.label }}</label>
                                                    {{ pform.zip }}
                                                </div>
                                                <div class="single-input-item">
                                                    <label for="email" class="required">{{ pform.phone.label }}</label>
                                                    {{ pform.phone }}
                                                </div>
                                                <div class="single-input-item">
                                                    <button class="btn">Update Address</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->

                                <!-- Single Tab Content Start -->
                                <div class="tab-pane fade" id="account-info" role="tabpanel">
                                    <div class="myaccount-content">
                                        <h3>Account Details</h3>

                                        <div class="account-details-form">
                                            <form method="post" action="" id="basicinfo-form" enctype="multipart/form-data">
                                                {% csrf_token %}

                                                <div class="row">
                                                    <div class="col-lg-6">
                                                        <div class="single-input-item">
                                                            <label for="first-name" class="required">{{ uform.first_name.label }}</label>
                                                           {{ uform.first_name }}
                                                        </div>
                                                    </div>

                                                    <div class="col-lg-6">
                                                        <div class="single-input-item">
                                                            <label for="last-name" class="required">{{ uform.last_name.label }}</label>
                                                            {{ uform.last_name }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="single-input-item">
                                                    <label for="email" class="required">{{ uform.email.label }}</label>
                                                    {{ uform.email }}
                                                </div>
                                                 <div class="single-input-item">
                                                    <button class="btn">Save Changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!-- Single Tab Content End -->
                            </div>
                        </div>
                        <!-- My Account Tab Content End -->
                    </div>
                </div>
                <!-- My Account Page End -->
            </div>
        </div>
    </div>
</div>
<!--== Page Content Wrapper End ==-->
{% endblock %}