{% extends 'base.html' %}

{% block center_body %}


	<div class="main_con clearfix">
		<div class="left_menu_con clearfix">
			<h3>My Account</h3>
			<ul>
				<li><a href="{% url "user:order" 1 %}">· My Orders</a></li>
			</ul>
		</div>
		<div class="right_content clearfix">
				<div class="info_con clearfix">
				<h3 class="common_title2">Basic Info</h3>
						<ul class="user_info_list">
							<li><span>Username：</span>{{ user.username }}</li>
                            <li><span>First name：</span>{{ user.first_name }}</li>
                            <li><span>Last name：</span>{{ user.last_name }}</li>
							<li><span>Phone No：</span>{{ user.userprofile.phone }}</li>
                            <li><span>Zip Code：</span>{{ user.userprofile.zip }}</li>
							<li><span>Address：</span>{{ user.userprofile.address }}</li>
						</ul>
                    <a href="{% url 'user:profile_update' %}">Edit</a>
				</div>
            <h3 class="common_title2">{{ explain }}</h3>
            <div class="has_view_list">
                <ul class="goods_type_list clearfix">
                    {%  for product in products_list %}
                    <li>
                        <a href="/{{ product.id }}/"><img src="/static/{{ product.image }}"></a>
                        <h4><a href="/{{ product.id }}/">{{ product.name }}</a></h4>
                        <div class="operate">
                            <span class="prize">${{ product.price }}</span>
                            <span class="unit">{{ product.price }}/{{ product.unit }}</span>
                            <a href="/cart/add{{ product.id }}_1/" class="add_goods" title="Add to Cart"></a>
                        </div>
                    </li>
                    {% endfor %}
			</ul>
            </div>
		</div>
	</div>
{% endblock center_body %}