{% extends 'account/base_login.html' %}
{% load i18n %}
{% load account socialaccount %}
{% load crispy_forms_tags %}
{% block head %}
{% endblock head %}
{% block headers %}
    <h3 class="my-1 text-info">Sign Up</h3>
{% endblock %}
{% block content %}
    <p class="pull-right">{% blocktrans %}Already have an account? <a href="{{ login_url }}">Sign in</a>.{% endblocktrans %}</p>
    <br>
<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
    {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
<br>
  <button class="btn-block btn-danger" type="submit" style="border-radius: 5px">{% trans "Sign Up" %} &raquo;</button>
                          <br>
                            <div class="login-link">
                                {% get_providers as socialaccount_providers %}
                                {% if socialaccount_providers %}
                                    <a href="{% provider_login_url "facebook" method="js_sdk" %}" class="btn btn-block btn-social btn-facebook" style="background-color:#3b5998;text-align:center; border-radius: 5px">
                                        <span class="fa fa-facebook"></span>Sign in with Facebook</a>
                                    {% include "socialaccount/snippets/login_extra.html" %}
                                {% else %}
                                    <p>{% blocktrans %}If you have not created an account yet, then please
                                        <a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
                                {% endif %}
                            </div>
</form>
{% endblock %}