{% extends 'base.html' %}
{% load staticfiles %}
{% block body %}
    <!--== Start Slider Area ==-->
<div class="slider-area-wrap">
    <div class="home-slider-carousel owl-carousel">
        <div class="single-slide-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-text">
                            <h2>iPhone XR</h2>
                            <h3>Latest Model 2019</h3>
                            <h4>Better Experience, Lower Price</h4>
                            <a href="/3" class="btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slide-item slide-item_2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-text">
                            <h2>New MacBook Pro</h2>
                            <h3>Pretty.Freaking Powerful</h3>
                            <h4>Extremely Light</h4>
                            <a href="/12" class="btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slide-item slide-item_3">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="slider-text">
                            <h2>iPad Pro 11'</h2>
                            <h3>New Generation of iPad</h3>
                            <h4>With Powerful A12X</h4>
                            <a href="/6" class="btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Slider Area ==-->


<!--== Start Call To Action ==-->
<section id="call-to-action" class="callto-action-two">
    <div class="container">
        <div class="call-to-action-content">
            <div class="row">
                <!-- Single Call to Action Start -->
                <div class="col-lg-3 col-sm-6 m-auto">
                    <div class="single-action-item d-flex align-items-center">
                        <div class="call-action-icon">
                            <i class="fa fa-truck"></i>
                        </div>
                        <div class="call-action-info">
                            <h4>Free Shipping</h4>
                            <p>on all products</p>
                        </div>
                    </div>
                </div>
                <!-- Single Call to Action End -->

                <!-- Single Call to Action Start -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-action-item d-flex align-items-center">
                        <div class="call-action-icon">
                            <i class="fa fa-support"></i>
                        </div>
                        <div class="call-action-info">
                            <h4>24/7 Support</h4>
                            <p>Online consultations</p>
                        </div>
                    </div>
                </div>
                <!-- Single Call to Action End -->

                <!-- Single Call to Action Start -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-action-item d-flex align-items-center">
                        <div class="call-action-icon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <div class="call-action-info">
                            <h4>Daily updates</h4>
                            <p>Check out store</p>
                        </div>
                    </div>
                </div>
                <!-- Single Call to Action End -->

                <!-- Single Call to Action Start -->
                <div class="col-lg-3 col-sm-6">
                    <div class="single-action-item d-flex align-items-center">
                        <div class="call-action-icon">
                            <i class="fa fa-refresh"></i>
                        </div>
                        <div class="call-action-info">
                            <h4>30-day Returns</h4>
                            <p>Moneyback guarantee</p>
                        </div>
                    </div>
                </div>
                <!-- Single Call to Action End -->
            </div>
        </div>
    </div>
</section>
<!--== End Call To Action ==-->
<!-- Start Sale Banner Area -->
<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <a href="list1_1_1">
                    <img src="{% static 'assets/img/banner-home-one.jpg' %}" alt="Banner"/>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Sale Banner Area -->

    <section id="productsby-category">
    <div class="container">
        <div class="productby-cate-content">
            <div class="row">
                <div class="col-lg-6">
                    <div class="category-product-wrap">
                        <h4 class="cate-pro-title"><a href="/list1_1_1/">iPhone</a></h4>
                        <figure class="cat-banner">
                            <a href="/list1_1_1/"><img src="{% static 'assets/img/cat-pro-1.jpg' %}" alt="Category"></a>
                        </figure>

                        <div class="products-wrapper">
                            <div class="cat-pro-carousel owl-carousel">
                                <!-- Single Product Start -->
                                {% for product in cat01 %}
                                <div class="single-product-item">
                                    <figure class="product-thumb">
                                        <a href="/{{ product.id }}/"><img src="/static/{{ product.image }}"
                                                                           alt="Product"></a>
                                        <a href="/{{ product.id }}/" class="btn btn-round btn-cart" title="See Details"
                                           data-toggle="modal" data-target="#quickView"><i class="fa fa-eye"></i></a>
                                    </figure>
                                    <div class="product-details">
                                        <h2 class="product-title"><a href="/{{ product.id }}/">{{ product.name }}</a></h2>

                                        <span class="product-price">${{ product.price }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Single Product End -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="category-product-wrap">
                        <h4 class="cate-pro-title"><a href="/list2_1_1/">iPad</a></h4>
                        <figure class="cat-banner">
                            <a href="/list2_1_1/"><img src="{% static 'assets/img/cat-pro-2.jpg' %}" alt="Category"></a>
                        </figure>

                        <div class="products-wrapper">
                            <div class="cat-pro-carousel owl-carousel">
                                <!-- Single Product Start -->
                                {% for product in cat11 %}
                                <div class="single-product-item">
                                    <figure class="product-thumb">
                                        <a href="/{{ product.id }}/"><img src="/static/{{ product.image }}"
                                                                           alt="Product"></a>
                                        <a href="/{{ product.id }}/" class="btn btn-round btn-cart" title="See Details"
                                           data-toggle="modal" data-target="#quickView"><i class="fa fa-eye"></i></a>
                                    </figure>
                                    <div class="product-details">
                                        <h2 class="product-title"><a href="/{{ product.id }}/">{{ product.name }}</a></h2>

                                        <span class="product-price">${{ product.price }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Single Product End -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="category-product-wrap">
                        <h4 class="cate-pro-title"><a href="/list3_1_1/">Mac</a></h4>
                        <figure class="cat-banner">
                            <a href="/list3_1_1/"><img src="{% static 'assets/img/cat-pro-3.jpg' %}" alt="Category"></a>
                        </figure>

                        <div class="products-wrapper">
                            <div class="cat-pro-carousel owl-carousel">
                                <!-- Single Product Start -->
                                {% for product in cat21 %}
                                <div class="single-product-item">
                                    <figure class="product-thumb">
                                        <a href="/{{ product.id }}/"><img src="/static/{{ product.image }}"
                                                                           alt="Product"></a>
                                        <a href="/{{ product.id }}/" class="btn btn-round btn-cart" title="See Details"
                                           data-toggle="modal" data-target="#quickView"><i class="fa fa-eye"></i></a>
                                    </figure>
                                    <div class="product-details">
                                        <h2 class="product-title"><a href="/{{ product.id }}/">{{ product.name }}</a></h2>

                                        <span class="product-price">${{ product.price }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Single Product End -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="category-product-wrap">
                        <h4 class="cate-pro-title"><a href="/list4_1_1/"">Watch</a></h4>
                        <figure class="cat-banner">
                            <a href="/list4_1_1/"><img src="{% static 'assets/img/cat-pro-4.jpg' %}" alt="Category"></a>
                        </figure>

                        <div class="products-wrapper">
                            <div class="cat-pro-carousel owl-carousel">
                                <!-- Single Product Start -->
                                {% for product in cat31 %}
                                <div class="single-product-item">
                                    <figure class="product-thumb">
                                        <a href="/{{ product.id }}/"><img src="/static/{{ product.image }}"
                                                                           alt="Product"></a>
                                        <a href="/{{ product.id }}/" class="btn btn-round btn-cart" title="See Details"
                                           data-toggle="modal" data-target="#quickView"><i class="fa fa-eye"></i></a>
                                    </figure>
                                    <div class="product-details">
                                        <h2 class="product-title"><a href="/{{ product.id }}/">{{ product.name }}</a></h2>

                                        <span class="product-price">${{ product.price }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Single Product End -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="category-product-wrap">
                        <h4 class="cate-pro-title"><a href="/list5_1_1/">Accessories</a></h4>
                        <figure class="cat-banner">
                            <a href="/list5_1_1/"><img src="{% static 'assets/img/cat-pro-5.jpg' %}" alt="Category"></a>
                        </figure>

                        <div class="products-wrapper">
                            <div class="cat-pro-carousel owl-carousel">
                                <!-- Single Product Start -->
                                {% for product in cat41 %}
                                <div class="single-product-item">
                                    <figure class="product-thumb">
                                        <a href="/{{ product.id }}/"><img src="/static/{{ product.image }}"
                                                                           alt="Product"></a>
                                        <a href="/{{ product.id }}/" class="btn btn-round btn-cart" title="See Details"
                                           data-toggle="modal" data-target="#quickView"><i class="fa fa-eye"></i></a>
                                    </figure>
                                    <div class="product-details">
                                        <h2 class="product-title"><a href="/{{ product.id }}/">{{ product.name }}</a></h2>

                                        <span class="product-price">${{ product.price }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Single Product End -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="category-product-wrap">
                        <h4 class="cate-pro-title"><a href="/list6_1_1/">Other</a></h4>
                        <figure class="cat-banner">
                            <a href="/list6_1_1/"><img src="{% static 'assets/img/cat-pro-6.jpg' %}" alt="Category"></a>
                        </figure>

                        <div class="products-wrapper">
                            <div class="cat-pro-carousel owl-carousel">
                                <!-- Single Product Start -->
                                {% for product in cat51 %}
                                <div class="single-product-item">
                                    <figure class="product-thumb">
                                        <a href="/{{ product.id }}/"><img src="/static/{{ product.image }}"
                                                                           alt="Product"></a>
                                        <a href="/{{ product.id }}/" class="btn btn-round btn-cart" title="See Details"
                                           data-toggle="modal" data-target="#quickView"><i class="fa fa-eye"></i></a>
                                    </figure>
                                    <div class="product-details">
                                        <h2 class="product-title"><a href="/{{ product.id }}/">{{ product.name }}</a></h2>

                                        <span class="product-price">${{ product.price }}</span>
                                    </div>
                                </div>
                                {% endfor %}
                                <!-- Single Product End -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock %}