{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <script type="text/javascript" src="/static/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/static/js/slide.js"></script>
{% endblock head %}

{% block center_body %}

	<div class="navbar_con">
		<div class="navbar">
			<h1 class="fl">All Categories</h1>
			<ul class="navlist fl">
				<li><a href="{% url "product:index" %}">Home</a></li>
				<li class="interval">|</li>
				<li><a href="#">News</a></li>
				<li class="interval">|</li>
				<li><a href="#">Contact Us</a></li>
			</ul>
		</div>
	</div>

	<div class="center_con clearfix">
		<ul class="subnav fl">
			<li><a href="#model01" class="iphone">iPhone</a></li>
			<li><a href="#model02" class="ipad">iPad</a></li>
			<li><a href="#model03" class="mac">Mac</a></li>
			<li><a href="#model04" class="watch">Watch</a></li>
			<li><a href="#model05" class="accessories">Accessories</a></li>
			<li><a href="#model06" class="other">Other</a></li>
		</ul>
		<div class="slide fl">
			<ul class="slide_pics">
				<li><img src="/static/images/slide.jpg" alt="slide"></li>
				<li><img src="/static/images/slide02.jpg" alt="slide"></li>
				<li><img src="/static/images/slide03.jpg" alt="slide"></li>
				<li><img src="/static/images/slide04.jpg" alt="slide"></li>
			</ul>
			<div class="prev"></div>
			<div class="next"></div>
			<ul class="points"></ul>
		</div>
		<div class="adv fl">
			<a href="#"><img src="/static/images/adv01.jpg"></a>
			<a href="#"><img src="/static/images/adv02.jpg"></a>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model01">iPhone</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for g in cat0 %}
                    <a href="/{{ g.id }}/">{{  g.name|slice:'10' }}</a>
                {%  endfor %}
			</div>
			<a href="/list1_1_1/" class="goods_more fr" id="fruit_more">See More ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner01.jpg"></div>
			<ul class="goods_list fl">
                {% for product in cat01 %}
                <li>
                    <h4><a href="/{{ product.id }}/">{{ product.name }}</a></h4>
                    <a href="/{{ product.id }}/"><img src="/static/{{ product.image }}"></a>
                    <div class="prize"> ￥ {{ product.price }} </div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>
	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model02">iPad</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for g in cat1 %}
                    <a href="/{{ g.id }}/">{{ g.name|slice:'10' }}</a>
                {% endfor %}
			</div>
			<a href="/list2_1_1/" class="goods_more fr">See More ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner02.jpg"></div>
			<ul class="goods_list fl">
                {% for product in cat11 %}
                <li>
                    <h4><a href="/{{ product.id }}/">{{ product.name }}</a></h4>
                    <a href="/{{ product.id }}/"><img src="/static/{{ product.image }}"></a>
                    <div class="price"> $ {{ product.price }} </div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model03">Mac</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for g in cat2 %}
                    <a href="/{{ g.id }}/">{{ g.name|slice:'10' }}</a>
                {% endfor %}
			</div>
			<a href="/list3_1_1/" class="goods_more fr">See More ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner03.jpg"></div>
			<ul class="goods_list fl">
                {% for product in cat21 %}
                <li>
                    <h4><a href="/{{ product.id }}/">{{ product.name }}</a></h4>
                    <a href="/{{ product.id }}/"><img src="/static/{{ product.image }}"></a>
                    <div class="price"> $ {{ product.price }} </div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model04">Watch</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for g in cat3 %}
                    <a href="/{{ g.id }}/">{{ g.name|slice:'10' }}</a>
                {% endfor %}
			</div>
			<a href="/list4_1_1/" class="goods_more fr">See More ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner04.jpg"></div>
			<ul class="goods_list fl">
                {% for product in cat31 %}
                <li>
                    <h4><a href="/{{ product.id }}/">{{ product.name }}</a></h4>
                    <a href="/{{ product.id }}/"><img src="/static/{{ product.image }}"></a>
                    <div class="price"> $ {{ product.price }} </div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model05">Accessories</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for g in cat4 %}
                    <a href="/{{ g.id }}/">{{ g.name|slice:'10' }}</a>
                {% endfor %}
			</div>
			<a href="/list5_1_1/" class="goods_more fr">See More ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="/static/images/banner05.jpg"></div>
			<ul class="goods_list fl">
                {% for product in cat41 %}
                <li>
                    <h4><a href="/{{ product.id }}/">{{ product.name }}</a></h4>
                    <a href="/{{ product.id }}/"><img src="/static/{{ product.image }}"></a>
                    <div class="price"> $ {{ product.price }} </div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<div class="list_model">
		<div class="list_title clearfix">
			<h3 class="fl" id="model06">Other</h3>
			<div class="subtitle fl">
				<span>|</span>
                {% for g in cat5 %}
                    <a href="/{{ g.id }}/">{{ g.name|slice:'10' }}</a>
                {% endfor %}
			</div>
			<a href="/list6_1_1/" class="goods_more fr">See More ></a>
		</div>

		<div class="goods_con clearfix">
			<div class="goods_banner fl"><img src="{% static 'images/banner06.jpg' %}"></div>
			<ul class="goods_list fl">
                {% for product in cat51 %}
                <li>
                    <h4><a href="/{{ product.id }}/">{{ product.name }}</a></h4>
                    <a href="/{{ product.id }}/"><img src="/static/{{ product.image }}"></a>
                    <div class="price"> $ {{ product.price }} </div>
                </li>
                {% endfor %}
			</ul>
		</div>
	</div>

	<script type="text/javascript" src="{% static 'js/slide.js' %}"></script>
    <script type="text/javascript">
        BCSlideshow('focuspic');
        var oFruit = document.getElementById('fruit_more');
        var oShownum = document.getElementById('show_count');

        var hasorder = localStorage.getItem('order_finish');

        if(hasorder)
        {
        oShownum.innerHTML = '2';
        }

        oFruit.onclick = function(){
        window.location.href = 'list.html';
        }
    </script>

{% endblock center_body %}
