{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="container">
    <div>
        <div style="margin-top: 60px; text-align: center; margin-left: auto; font-size:35px; margin-right: auto;">About Us</div>
        <div style="margin-top: 60px">
            <div style="margin-top: 0px; height: 150px">
                <div style="float: left; padding-left: 70px; width: 45%; ">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo</div>
                <div style="float: left; width: 10%; text-align: center; height: 50px; line-height: 50px; color: #75b12f; font-size: 20px">01</div>
                <div style="float: left; padding-right: 70px; width: 45%; ">Temporibus autem quibusdam officiis debitis who are so beguiled and demoralized by the charms of pleasure the moment, desire, that they cannot foresee the pain.</div>
            </div>

            <div style="margin-top: 10px; height: 150px">
                <div style="float: left; padding-left: 70px; width: 45%; ">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora </div>
                <div style="float: left; width: 10%; text-align: center; height: 50px; line-height: 50px; color: #75b12f; font-size: 20px">02</div>
                <div style="float: left; padding-right: 70px;width: 45%; ">Nam libero tempore soluta eligendi cumque But in certain circumstances and owing to the claims of duty or the obligations it will frequently occur that pleasures.</div>
            </div>

        </div>
        <div style="margin-top: 60px; text-align: center; margin-left: auto; font-size:35px; margin-right: auto;">Our Team</div>
        <div style="margin-top: 60px">
            <div style="margin-left: 70px; width: 200px; height: 300px; float: left; border: 1px #afb2b5 solid">
                <div style="height: 80%; width: 100%"><img src="{% static '/assets/img/zhou.jpeg' %}" style="width: 100%; height: 100%"></div>
                <div style="height: 20%; width: 100%; line-height: 60px; text-align: center; font-size: 24px">Junjie Zhou</div>
            </div>
            <div style="margin-left: 100px; width: 200px; height: 300px; float: left; border: 1px #afb2b5 solid">
                <div style="height: 80%; width: 100%"><img src="{% static '/assets/img/xu.jpeg' %}" style="width: 100%; height: 100%"></div>
                <div style="height: 20%; width: 100%; line-height: 60px; text-align: center; font-size: 24px">Jing Xu</div>
            </div>
            <div style="margin-left: 100px; width: 200px; height: 300px; float: left; border: 1px #afb2b5 solid">
                <div style="height: 80%; width: 100%"><img src="{% static '/assets/img/hua.JPG' %}" style="width: 100%; height: 100%"></div>
                <div style="height: 20%; width: 100%; line-height: 60px; text-align: center; font-size: 24px">Jinghua yan</div>
            </div>
             <div style="margin-left: 100px; width: 200px; height: 300px; float: left; border: 1px #afb2b5 solid">
                <div style="height: 80%; width: 100%"><img src="{% static '/assets/img/wang.JPG' %}" style="width: 100%; height: 100%"></div>
                <div style="height: 20%; width: 100%; line-height: 60px; text-align: center; font-size: 24px">Jintao Wang</div>
             </div>
        </div>
        <div style="margin-top: 350px; width: 1000px; background: red">
    </div>
        </div>
{% endblock %}