{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
  <!--== Start Page Breadcrumb ==-->
<div class="page-breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-breadcrumb">
                    <ul class="nav">
                        <li><a href="{% url 'product:index' %}">Home</a></li>
                        <li><a href="#" class="active">About Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--== End Page Breadcrumb ==-->

<!--== Page Content Wrapper Start ==-->
<div id="page-content-wrapper">
    <div class="container">
        <!-- About Page Content Start -->
        <div class="row">
            <!-- About Text Start -->
            <div class="col-lg-6 order-last order-lg-first">
                <div class="about-text-wrap">
                    <h2><span>About Us</span>ITECH 2019 Team T</h2>
                    <p>It is our Team Project</p>

                    <p>iCasa is a shopping website for electronic products. We provide the latest and most complete apple products.</p>

                    <p>Any product you are interested in can be searched here.It is equipped with the most cutting-edge technologies and latest trends of apple and can meet the needs of all kinds of people for electronic products.</p>
                </div>
            </div>
            <!-- About Text End -->

            <!-- Location Start -->
            <div class="col-lg-5 col-md-10 m-md-auto ml-auto">
                <h2>Where to Find Us</h2>
                <div class="product-image-title" id="map" >

                </div>
            </div>
            <!-- Location End -->
        </div>
        <!-- About Page Content End -->
    </div>
</div>
<!--== Page Content Wrapper End ==-->

    <!-- Start Google Maps API -->
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 55.8736304, lng: -4.293658,},
          zoom: 16
        });
        var marker = new google.maps.Marker({
            position: {lat: 55.8736304, lng: -4.293658,},
            map: map,
  });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBTy4g0m9EWkQJCDvOGTCrOqGFQo_61zFY&callback=initMap"
    async defer></script>
    <style>
        /* Always define the size of the div
       * element that contains the map. */
      #map {
        height: 400px;
          width: 400px;
      }</style>
    <!-- End Google Maps API -->
{% endblock %}