{% extends 'base_b.html' %}
{% load staticfiles %}

    <!-- Start PreHeader Area -->
{% block preheader %}
    <div class="preheader-area">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-6">
                    <div class="preheader-contact-info d-flex align-items-center justify-content-between justify-content-md-start">
                        <div class="single-contact-info">
                            <a class="welcome-msg" style="color: #1dd983">
                                <strong>Welcome to iCasa!</strong>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-7 col-lg-6 mt-xs-10">
                    {% if user.is_authenticated %}
                    <div class="login_btn fl pull-right" style="color: #d2d2d2;">Hi：<em>{{ user.first_name }} {{ user.last_name}} </em>
                        <span>  &ensp;</span>
                        <em><a href="{% url "account_logout" %}">Logout</a></em>
                        <em>&emsp;</em>
                        <em><a href="{% url 'user:myaccount' %}">My Account</a></em>
                    </div>
                    {% else %}
                    <div class="login_btn fl pull-right">
                        <em><a href="{% url "account_login" %}">Login</a></em>
                        <em> | </em>
                        <em><a href="{% url "account_signup" %}">Sign up</a></em>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
    <!-- End PreHeader Area -->

    <!-- Start Header Middle Area -->
{% block headermiddle %}
    <div class="header-middle-area">
        <div class="container">
            <div class="row">
                <!-- Logo Area Start -->
                <div class="col-4 col-md-2 col-xl-3 m-auto text-center text-lg-left">
                    <a href="{% url 'product:index' %}" class="logo-wrap d-block">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Logo" class="img-fluid"/>
                    </a>
                </div>
                <!-- Logo Area End -->

                <!-- Search Box Area Start -->
                <div class="col-8 col-md-7 col- m-auto ">
                    <div class="search-box-wrap">
                        <p class="search-form d-flex" href="javascript:;" method="get">
                            <input id="searchinput" type="search" name="search" placeholder="Search products here"/>
                            <button class="btn btn-search" onclick="javascript:;">
                                <img src="{% static 'assets/img/icons/icon-search.png' %}"
                                                                alt="Search Icon"/>
                            </button>
                        <p>
                    </div>
                </div>
                        <script>
                            $(function () {

                                $('.btn-search').click(function () {
                                    {#                    alert('ok');#}
                                    {#q = $('#searchinput').val();#}
                                    location.href = '{% url "product:search" %}?q='+$('#searchinput').val()+'&page=1'
                                })
                            })
                        </script>
                <!-- Search Box Area End -->

                <!-- Mini Cart Area Start -->
                <div class="col-12 col-md-3 col-xl-2 m-auto text-center text-lg-right mt-xs-15">
                    {% if guest_cart == 1 %}
                    <div class="minicart-wrapper">
                        <button class="btn btn-minicart" onclick="window.location.href='{% url "cart:cart" %}'">My Cart <sup id="show_count" class="cart-count" >{{ cart_num }}</sup></button>
                    </div>
                    {% endif %}
                </div>
                <!-- Mini Cart Area End -->
            </div>
        </div>
    </div>
{% endblock %}
    <!-- End Header Middle Area -->

    <!-- Start Main Menu Area -->
{% block mainmenu %}
    <div class="navigation-area" id="fixheader">
        <div class="container">
            <div class="row">
                <!-- Categories List Start -->
                <div class="col-10 col-lg-3">
                    <div class="categories-list-wrap">
                        <button class="btn btn-category d-none d-lg-inline-block"><i class="fa fa-bars"></i> Categories
                        </button>
                        <ul class="category-list-menu">
                            <li class="category-item-parent dropdown-show">
                                <a href="/list1_1_1/" class="category-item">
                                    <img src="{% static 'assets/img/icons/iphone.png' %}" alt="iPhone"/>
                                    <span>iPhone</span>
                                </a>
                            </li>

                            <li class="category-item-parent dropdown-show">
                                <a href="/list2_1_1/" class="category-item">
                                    <img src="{% static 'assets/img/icons/ipad.png' %}" alt="iPad"/>
                                    <span>iPad</span>
                                </a>
                            </li>
                            <li class="category-item-parent">
                                <a href="/list3_1_1/" class="category-item">
                                    <img src="{% static 'assets/img/icons/mac.png' %}" alt="Mac"/>
                                    <span>Mac</span>
                                </a>
                            </li>
                            <li class="category-item-parent">
                                <a href="/list4_1_1/" class="category-item">
                                    <img src="{% static 'assets/img/icons/watch.png' %}" alt="Watch"/>
                                    <span>Watch</span>
                                </a>
                            </li>
                            <li class="category-item-parent">
                                <a href="/list5_1_1/" class="category-item">
                                    <img src="{% static 'assets/img/icons/accessories.png' %}" alt="Accessories"/>
                                    <span>Accessories</span>
                                </a>
                            </li>
                            <li class="category-item-parent">
                                <a href="/list6_1_1/" class="category-item">
                                    <img src="{% static 'assets/img/icons/other.png' %}" alt="Other"/>
                                    <span>Other</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Categories List End -->

                <!-- Main Menu Start -->
                <div class="col-2 col-lg-9 d-none d-lg-block">
                    <div class="main-menu-wrap">
                        <nav class="mainmenu">
                            <ul class="main-navbar clearfix">
                                <li><a href="{% url 'product:index' %}">Home</a></li>
                                <li><a href="{% url 'product:about' %}">About Us</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Main Menu End -->
            </div>
        </div>
    </div>
    <!-- End Main Menu Area -->
{% endblock %}
</header>

{% block body %}

<!-- Start Product By Category -->
<!-- End Product By Category -->
{% endblock body %}
<!-- Start Category Banner -->
<!-- End Category Banner -->
<!--== Start Brand Carousel Area ==-->
{% block brands %}
<div class="brand-logo-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="brand-logo-carousel owl-carousel">
                    <!-- Single Brand Logo Start -->
                    <div class="single-brand-item">
                        <a href="https://www.apple.com"><img src="{% static 'assets/img/logo-1.png' %}" alt="logo1"></a>
                    </div>
                    <!-- Single Brand Logo End -->

                    <!-- Single Brand Logo Start -->
                    <div class="single-brand-item">
                        <a href="https://www.gla.ac.uk/"><img src="{% static 'assets/img/logo-2.png' %}" alt="logo2"></a>
                    </div>
                    <!-- Single Brand Logo End -->

                    <!-- Single Brand Logo Start -->
                    <div class="single-brand-item">
                        <a href="https://github.com/WangJintaoWJT"><img src="{% static 'assets/img/logo-3.png' %}" alt="logo3"></a>
                    </div>
                    <!-- Single Brand Logo End -->

                    <!-- Single Brand Logo Start -->
                    <div class="single-brand-item">
                        <a href="https://github.com/zhoujunjiedan"><img src="{% static 'assets/img/logo-4.png' %}" alt="logo4"></a>
                    </div>
                    <!-- Single Brand Logo End -->

                    <!-- Single Brand Logo Start -->
                    <div class="single-brand-item">
                        <a href="https://github.com/JoseYan"><img src="{% static 'assets/img/logo-5.png' %}" alt="logo5"></a>
                    </div>
                    <!-- Single Brand Logo End -->

                    <!-- Single Brand Logo Start -->
                    <div class="single-brand-item">
                        <a href="https://github.com/23524005x"><img src="{% static 'assets/img/logo-6.png' %}" alt="logo6"></a>
                    </div>
                    <!-- Single Brand Logo End -->
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

