<!DOCTYPE html>
<html lang="zxx">
{% load staticfiles %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="meta description">

    <title>Home</title>

    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js"></script>

    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.ico' %}" type="image/x-icon"/>

    <!--== Google Fonts ==-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,400i,500,600,700" rel="stylesheet">

    <!--=== Bootstrap CSS ===-->
    <link href="{% static 'assets/css/vendor/bootstrap.min.css' %}" rel="stylesheet">
    <!--=== Font-Awesome CSS ===-->
    <link href="{% static 'assets/css/vendor/font-awesome.css' %}" rel="stylesheet">
    <!--=== Plugins CSS ===-->
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet">
    <!--=== Helper CSS ===-->
    <link href="{% static 'assets/css/helper.min.css' %}" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet">

    <!-- Modernizer JS -->
    <script src="{% static 'assets/js/vendor/modernizr-2.8.3.min.js' %}"></script>

    {% block head %}{% endblock head %}
</head>

<body>


<!--== Start Header Section ==-->
<header id="header-area">
    <!-- Start PreHeader Area -->
    {% block preheader %}
    {% endblock %}
    <!-- End PreHeader Area -->

    <!-- Start Header Middle Area -->
{% block headermiddle %}
    <div class="header-middle-area">
        <div class="container">
            <div class="row">
                <!-- Logo Area Start -->
                <div class="col-4 col-md-2 col-xl-3 m-auto text-center text-lg-left">
                    <a href="{% url 'product:index' %}" class="logo-wrap d-block">
                        <img src="{% static 'assets/img/logo.png' %}" alt="Logo" class="img-fluid"/>
                    </a>
                </div>
                <!-- Logo Area End -->
            </div>
        </div>
    </div>
{% endblock %}
    <!-- End Header Middle Area -->
{% block mainmenu %}
{% endblock %}
</header>
{% block body %}
    {% block content %}
    {% endblock %}
{% endblock body %}
{% block brands %}
{% endblock %}

<!--== Start Newsletter Area ==-->
<!--== End Newsletter Area ==-->

<!--== Start Footer Area ==-->
<footer id="footer-area">
    <!-- Footer Widget Area Start -->
    <div class="footer-widget-area">
        <div class="container">
            <div class="footer-widget-content">
                <div class="row">
                    <!-- Single Widget-item Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-widget-item">
                            <h3 class="widget-title">Contact Developers</h3>
                            <div class="widget-body">
                                <div class="contact-info">
                                    <div class="single-contact-info">
                                    <span class="contact-icon">
                                        <i class="fa fa-github-square"></i>
                                    </span>
                                        <a href="https://github.com/JoseYan" class="contact-text">
                                           Jinghua  <strong>Yan</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget-item End -->

                    <!-- Single Widget-item Start -->
                       <div class="col-lg-3 col-sm-6">
                        <div class="single-widget-item">
                            <h3 class="widget-title">&#12288</h3>
                            <div class="widget-body">
                                <div class="contact-info">
                                    <div class="single-contact-info">
                                    <span class="contact-icon">
                                        <i class="fa fa-github-alt"></i>
                                    </span>
                                        <a href="https://github.com/zhoujunjiedan" class="contact-text">
                                            Junjie <strong>Zhou</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget-item End -->
                    <!-- Single Widget-item Start -->
                      <div class="col-lg-3 col-sm-6">
                        <div class="single-widget-item">
                            <h3 class="widget-title">&#12288</h3>
                            <div class="widget-body">
                                <div class="contact-info">
                                    <div class="single-contact-info">
                                    <span class="contact-icon">
                                        <i class="fa fa-github"></i>
                                    </span>
                                        <a href="https://github.com/WangJintaoWJT" class="contact-text">
                                            Jintao <strong>Wang</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget-item End -->
                                        <!-- Single Widget-item Start -->
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-widget-item">
                            <h3 class="widget-title">&#12288</h3>
                            <div class="widget-body">
                                <div class="contact-info">
                                    <div class="single-contact-info">
                                    <span class="contact-icon">
                                        <i class="fa fa-github"></i>
                                    </span>
                                        <a href="https://github.com/2352405x" class="contact-text">
                                            Jing <strong>Xu</strong>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Widget-item End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Footer Widget Area End -->
    <!-- Footer Bottom Area -->
    <div class="footer-bttom-area">
        <div class="container">
            <div class="row">
                <!-- Copyright Text Area -->
                <div class="col-md-6 m-auto text-center text-md-left order-last order-md-first">
                    <p>Copyright &copy; 2019.ITECH Team T All rights reserved.</p>
                </div>
                <!-- Copyright Text Area -->
            </div>
        </div>
    </div>
    <!-- Footer Bottom Area -->
</footer>
<!--== End Footer Area ==-->
<!-- Scroll to Top Start -->
<a href="#" class="scrolltotop"><i class="fa fa-angle-up"></i></a>
<!-- Scroll to Top End -->
<!--Javascript-->
<!--=== Jquery Min Js ===-->
<script src="{% static 'assets/js/vendor/jquery-3.3.1.min.js' %}"></script>
<!--=== Jquery Migrate Min Js ===-->
<script src="{% static 'assets/js/vendor/jquery-migrate-1.4.1.min.js' %}"></script>
<!--=== Popper Min Js ===-->
<script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
<!--=== Ajax Mail Js ===-->
<script src="{% static 'assets/js/ajax-mail.js' %}"></script>
<!--=== Plugins Min Js ===-->
<script src="{% static 'assets/js/plugins.js' %}"></script>
<!--=== Active Js ===-->
<script src="{% static 'assets/js/active.js' %}"></script>
</body>
</html>
