{% extends 'base.html' %}

{% block head %}
    <script>
    $(function () {
        $('.col07').each(function () {
            count = $(this).prev().text();
            price = $(this).prev().prev().text();
            $(this).html('$'+parseFloat(count,2)*parseFloat(price,2))
        })

            t = 0;
            $('.singletotal').each(function () {
                str = $(this).text();
                num = str.substring(1,str.length);
                t += parseFloat(num,2);
            });
            $('#subtotal').text('$'+t);

            updatetotal();
    })

    function updatetotal() {
        var str = $('#subtotal').text();
        var num = parseFloat(str.substring(1,str.length),2);
            $('#totaltopay').text('$'+num);
    }
    </script>

{% endblock %}

{% block body %}

            <!-- Order Summary Details -->
    <div class="container" >
            <div class="col-lg-12 mt-5">
                <div class="order-summary-details">
                    <h2>Your Order Summary</h2>
                    <div class="order-summary-content">
                        <!-- Order Summary Table -->
                        <div class="order-summary-table table-responsive text-center">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>Products</th>
                                    <th>Total</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for cart in carts %}
                                <tr class="goods_list_td clearfix" id="{{ cart.id }}">
                                    <td><a href="/{{ cart.product.id }}/">{{ cart.product.name }} <strong> × {{ cart.count }}</strong></a></td>
                                    <td class="singletotal">${% widthratio cart.product.price 1 cart.count%}</td>
                                </tr>
                                {% endfor %}

                                </tbody>
                                <tfoot>
                                <tr>
                                    <td>Sub Total</td>
                                    <td id="subtotal"><strong></strong></td>
                                </tr>

                                <tr>
                                    <td>Shipping</td>
                                    <td class="d-flex justify-content-center">
                                        <ul class="shipping-type">
                                            <li>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="flatrate" name="shipping" class="custom-control-input" checked onchange="updatetotal()"/>
                                                    <label class="custom-control-label" for="flatrate">Collect at Store!</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="custom-control custom-radio">
                                                    <input type="radio" id="freeshipping" name="shipping" class="custom-control-input" onchange="updatetotal()"/>
                                                    <label class="custom-control-label" for="freeshipping">Free Shipping!</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Total to Pay</td>
                                    <td><strong id="totaltopay"></strong></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>

                        <!-- Order Payment Method -->
                        <div class="order-payment-method">
                            <div class="single-payment-method show">
                                <div class="payment-method-name">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="cashon" name="paymentmethod" value="cash" class="custom-control-input" checked  />
                                        <label class="custom-control-label" for="cashon">Cash On Delivery</label>
                                    </div>
                                </div>
                                <div class="payment-method-details" data-method="cash">
                                    <p>Pay with cash upon delivery.</p>
                                </div>
                            </div>

                            <div class="single-payment-method">
                                <div class="payment-method-name">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="directbank" name="paymentmethod" value="bank" class="custom-control-input" />
                                        <label class="custom-control-label" for="directbank">Direct Bank Transfer</label>
                                    </div>
                                </div>
                                <div class="payment-method-details" data-method="bank">
                                    <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account..</p>
                                </div>
                            </div>

                            <div class="single-payment-method">
                                <div class="payment-method-name">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="checkpayment" name="paymentmethod" value="check" class="custom-control-input" />
                                        <label class="custom-control-label" for="checkpayment">Pay with Cheque</label>
                                    </div>
                                </div>
                                <div class="payment-method-details" data-method="check">
                                    <p>Please send a cheque to University of Glasgow, Glasgow, UK, G12 8QQ.</p>
                                </div>
                            </div>

                            <div class="summary-footer-area">
                                <a id="order_btn" class="btn btn-block"> Place Order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
	<script type="text/javascript">
		$('#order_btn').click(function() {
		    //check user address
            if({{ address }} == 0){
                alert('Please make sure your address is correct.');
                window.location.href = '{% url "user:myaccount" %}';
            }else{
                		    //get all ids and concatenate them as a string
            cartids = '';
            $('.goods_list_td').each(function () {
               cartids = cartids + $(this).attr('id') +','
            });
		    cartids = cartids.substring(0,cartids.length-1);
		    str = $('#totaltopay').text();
		    total = {{ total_trans_price }};
		    data = {
		            'cart_ids':cartids,
                    'total_price':total,
                    'csrfmiddlewaretoken':'{{ csrf_token }}'
		    };
		    //send request
            $.post('/order/push/',data,function (data) {


                if (data.ok === 1){
                    localStorage.setItem('order_finish',2);
                    alert('Order Submitted!');
                     window.location.href = '{% url "user:myaccount" %}';
                }
                else {
                    alert('Failed to Submit Order')
                }
            });
            }

		})
	</script>
{% endblock body %}